%ul
  - for file in @found
    %li<>
      - if @path.join(file).file?
        %a{:href => "/__view?file=#{File.join(params[:path], file)}" }= file.gsub(/#{params[:q]}/i) {|m| "<em>#{m}</em>" }
      - else
        %a{:href => File.join(params[:path], file)}= file.gsub(/#{params[:q]}/i) {|m| "<em>#{m}</em>" }

- if @found.size == 0
  %i Nothing

%footer= "Complete in #{"%4.3fs" % @total_time}"